/* Import and define fonts */
@font-face {
  font-family: "Benguiat";
  src: url("./assets/fonts/itc_benguiat_ITC/BenguiatStd-Book.otf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap");

/* Reset styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Define color variables */
:root {
  --background-color: #f5ece2;
  --accent-color: #bb9c71;
  --text-color: #616060;
}

/* Basic body styles */
body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: "Lato", sans-serif;
}

/* Navbar styles */
.navbar {
  background-color: #F5ECE2; 
  transition: background-color 0.3s;
  backdrop-filter: none;
  -webkit-backdrop-filter: none;
}

/* When the user has scrolled */
.navbar.scrolled {
  background-color: rgba(245, 236, 226, 0.8); /* Semi-transparent background */
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
}

/* Centering the brand logo in the navbar */
.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Navbar link styles */
.navbar .nav-link,
.header-icon {
  color: #BB9C71;
  font-size: 0.em;
  font-weight: bold;
}

.logo-font {
  font-family: "Benguiat", "Times New Roman", Times, serif !important;
  color: var(--accent-color) !important; /* Gold color */
  font-size: 2rem !important; /* Increased font size */
}

/* Menu overlay styles */
.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("./assets/about-background-dropdown.jpg") no-repeat center
    center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: transform 1s ease-in-out;
  transform: translateY(-100%);
  z-index: 2000;
}

.close-icon {
  position: absolute;
  top: 20px; /* Adjust as necessary */
  right: 20px; /* Adjust as necessary */
  font-size: 30px; /* Adjust as necessary */
  cursor: pointer; /* Changes the mouse cursor to indicate it's clickable */
  color: #fff; /* Adjust color as necessary */
  z-index: 10; /* Ensures the icon is above other elements */
}

.close-icon:hover {
  color: var(--accent-color);
}

.menu-overlay.show {
  transform: translateY(0);
}

/* Menu content styles */
.menu-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu-content a {
  color: white;
  font-size: 2rem;
  padding: 1rem;
  text-decoration: none;
  text-transform: uppercase;
  margin: 0.5rem 0;
  transition: color 0.3s;
}

.menu-content a:hover {
  color: var(--accent-color);
}

/* FontAwesome icon adjustments */
.header-icon {
  cursor: pointer;
  font-size: 1.2rem; 
  color: #BB9C71;
}

/* Padding for main content */
main {
  padding-top: 30px; /* Adjust as needed for your layout */
}

/* Footer styling */
.footer {
  background-color: var(--background-color);
  padding: 2rem 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: auto ;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
}

.footer-section {
  flex: 1 1 auto;
  margin-right: 1rem;
  min-width: 160px;
}

.footer-line {
  display: block;
  margin-bottom: 0.5rem;
}

.footer-logo {
  flex: 0 0 auto;
  text-align: center;
}

.footer-bottom {
  text-align: center;
  width: 100%;
  padding-top: 1rem;
  border-top: 1px solid #ccc;
}

/* Footer text styling */
.footer h5 {
  font-size: 0.9rem;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
  color: var(--accent-color);
}

.footer p {
  font-size: 0.8rem;
  line-height: 1.6;
  color: var(--text-color);
}

/* Footer logo styling */
.footer-logo h1 {
  font-family: "Benguiat", serif;
  font-size: 2.5rem;
  color: var(--accent-color);
}

/*! Image for the contact page */
.contact-bottom-image {
  width: 100%;
  display: block; /* makes sure it's a block-level element */
}

.contact-bottom-image img {
  width: 100%;
  height: auto; /* maintain aspect ratio */
  display: block; /* remove any extra space around the image */
}

/* Responsive styling for the footer */
@media (max-width: 768px) {
  .footer-content {
    flex-direction: column;
    align-items: center;
  }

  .footer-section {
    margin-right: 0;
    margin-bottom: 1rem;
    text-align: center;
    flex-basis: 100%;
  }

  .footer-logo {
    margin-bottom: 1rem;
    flex-basis: 100%;
    order: -1; /* Place logo at the top */
  }
}

.footer-column p,
.footer-column a {
  color: inherit;
  font-size: 0.8rem;
  line-height: 1.6;
  text-decoration: none;
  margin-bottom: 0.5rem;
  display: block;
}

.footer-column a:hover {
  text-decoration: underline;
}

@media (min-width: 768px) {
  .footer-content {
    justify-content: space-around;
  }

  .footer-section,
  .footer-logo {
    flex: none;
    flex-basis: auto;
  }

  .footer {
    flex-wrap: nowrap;
  }
}
