/* importing the fint from the font folder */
@font-face {
  font-family: 'Benquiat Pro ITC';
  src: url('./assets/fonts/itc_benguiat_ITC/BenguiatStd-Book.otf') format('opentype');
}

/* Reset styles for the app */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Styles for the app */
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* Color variables */
:root {
  --background-color: #F5ECE2;
  --accent-color: #BB9C71;
  --text-color: #616060;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  font-family: 'Lato', sans-serif; /* A web-safe alternative for Mr Eaves San OT Book */
}

/* Specific styles for the logo */
.logo-font {
  font-family: 'Benquiat Pro ITC', 'Times New Roman', Times, serif; /* A web-safe alternative for Benguiat Pro ITC */
  color: var(--accent-color);
  font-size: 1.5rem;
}


/* Mobile first styles */
.App {
  text-align: center;
  padding: 10px; /*adding some padding to the app */
}

.App-header {
  background-color: #fafafa; /* Off-white background color */
  display: flex; /* Flexbox layout */
  flex-direction: column; /* Flexbox vertical layout */
  align-items: center; /* Centering the items horizontally */
  justify-content: center; /* Centering the items vertically */
  padding: 20px;
  color: #333;
}

/* Resizing the MENU and CONTACT text and FontAwesome icon */
.header-link {
  font-size: 70%; /* Reducing font size by 30% */
}

.header-icon {
  font-size: 70%; /* Reducing icon size by 30% */
}

.logo-font {
  font-family: 'Benquiat Pro ITC', 'Times New Roman', Times, serif; /* A web-safe alternative for Benguiat Pro ITC */
  color: var(--accent-color); /* Using the color variable from App.css */
}

.navbar {
  background-color: rgba(255, 255, 255, 0); /* Fully transparent */
  -webkit-backdrop-filter: blur(10px); /* For Safari 9+ */
  backdrop-filter: blur(10px); /* Blurring effect */
}

/* Align the menu and contact links to the sides and center the logo */
.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* Style for menu and contact links */
.navbar .nav-link {
  color: var(--text-color); /* Using the color variable from App.css */
}

/* Style for the FontAwesome icon */
.fa-bars {
  margin-right: 5px;
}


/* Add some padding at the top of the main content when the navbar is fixed */
main {
  padding-top: 56px; /* Adjust the value based on the height of your navbar */
}

/* Add padding-top to the main content */
main {
  padding-top: 56px; /* Height of the navbar. Adjust as needed */
}

/* Adjust link styles */
.App-link {
  color: #61dafb; /* Blue link color */
  text-decoration: none;
  font-weight: bold;
}

/* Media query for tablet viewports */
@media (min-width: 768px) and (max-width: 1024px) {
  .App {
      padding: 20px;
  }

  .App-header {
      padding: 40px;
      /* Adjust font-size if needed for tablet view */
  }

  .App-link {
      /* Adjust link styling for tablet view */
  }
}

/* Media query for large desktops */
@media (min-width: 1200px) {
  .App {
      padding: 40px;
  }

  .App-header {
      padding: 60px;
      /* Adjust font-size if needed for large desktop view */
  }

  .App-link {
      /* Adjust link styling for large desktop view */
  }
}

/* High-resolution displays */
@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  /* Adjust styles for high-resolution displays here */
  /* This might include higher resolution images or font adjustments */
}

/* Hover capable devices */
@media (hover: hover) {
  .App-link:hover {
      color: #6d6d6d; /* Darker shade for hover effect */
  }
}

/* Reduced motion for accessibility */
@media (prefers-reduced-motion: reduce) {
  /* Disable animations and transitions for users with motion sensitivity */
  * {
      animation: none;
      transition: none;
  }
}