/* Global styles */
.home-page {
  background-color: var(--background-color);
}

/* Typography styles*/
h1 {
  font-family: "Kaisei Opti", serif;
  letter-spacing: -2.6px;
  color: var(--text-color);
  margin-bottom: 50px;
  font-size: 3em;
}

h2 {
  font-size: 1.25em;
  color: var(--text-color);
}

p {
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
  color: var(--text-color);
}

/* Hero section */
.home-hero {
  position: relative;
  height: 100vh;
  background: url("../assets/services-background.jpg") no-repeat center center fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.home-hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 4em;
}

/* Image and Text Layout */
.home-specialty-image {
  width: 100%;
  height: auto;
}

.home-image-container {
  flex: 0 0 50%;
  max-width: 50%;
  padding: 0;
  margin: 0;
}

.home-hero-text {
  flex: 1;
  padding: 0 4em 0 5em;
}

/* Title and Link styles */
.title-div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
  margin-top: 50px
}

/* Read more link style */
.read-more-link {
  position: relative;
  display: inline-block; /* This will shrink the container to the size of the text */
  margin-bottom: 75px; 
  max-width: 20%;
}

/* Hover Animations for Links */
.read-more-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: #BB9C71; 
  visibility: hidden;
  border-radius: 5px;
  transform: scaleX(0);
  transition: all 0.3s ease-in-out 0s;
}

.read-more-link::before {
  content: '';
  position: absolute;
  top: 50%;
  right: -20px; 
  transform: translate(0, -50%);
  width: 8px; 
  height: 8px; 
  background-color: transparent;
  border: 2px solid #BB9C71; 
  border-radius: 50%;
  transition: all 0.3s ease-in-out;
}

.read-more-link:hover::after {
  visibility: visible;
  transform: scaleX(1);
}

.read-more-link:hover::before {
  background-color: #BB9C71; 
}

/* Content wrapper */
.home-content-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4em 0;
}

.home-aligned-image img, .home-aligned-image video {
  width: auto;
  height: auto;
  display: block;
}
  
.home-image-half {
  margin-right: 0; 
  max-width: 100%; 
}

.home-horizontal-image {
  width: 100%; 
  height: auto;
}

.home-text-half {
  display: flex;
  flex-direction: row; 
  align-items: flex-start; 
  flex: 1; 
  max-width: 50%; 
  padding-left: 2em; 
}

.home-title {
  flex: 0 0 auto;
  margin-right: 20px; 
}

.home-description {
  flex: 1; 
}

/* Carousel section */
.projects-carousel, .swiper {
  width: 100%;
  margin-bottom: 50px;
}

.swiper-slide img {
  max-height: 336px;
  width: 100%;
  object-fit: cover;
}

/* Key Offerings Section */
.key-offerings-container {
  background-color: rgb(224, 214, 204); 
  display: flex; 
  justify-content: space-between; 
  align-items: center; 
  padding: 50px;
}

.key-offerings-content {
  display: flex; 
  width: 100%; 
}

.key-offerings-title {
  flex-basis: 50%; 
}

.key-offerings-title h1 {
  font-family: "Kaisei Opti", serif;
  letter-spacing: -2.6px;
  margin-bottom: 50px;
  font-size: 3em;
  color: var(--text-color);
}

.read-more-link, 
.key-offerings-title a { 
  display: block; 
  margin-bottom: 10px; 
}

.key-offerings-image {
  flex-basis: 50%;
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.key-offerings-image img {
  width: 100%; 
  height: auto; 
  max-width: none; 
}


/* Media query adjustments for responsiveness */
@media (max-width: 768px) {
  .home-content-wrapper, 
  .key-offerings-content, 
  .home-hero-content, 
  .title-div, 
  .home-image-half, 
  .home-text-half,
  .home-image-container, 
  .home-aligned-image {
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 100%;
    margin: 20px 0;
  }

  .home-text-half, 
  .title-div {
    padding: 1em; 
  }

  .home-specialty-image, 
  .home-aligned-image img, 
  .home-aligned-image video, 
  .key-offerings-image img {
    max-width: 100%;
    height: auto;
  }

  .read-more-link, 
  .key-offerings-title a {
    max-width: 100%; 
    margin-bottom: 30px; 
  }

  .key-offerings-image {
    order: 2; 
  }

  .key-offerings-title {
    order: 1;
  }
}

