/* Import Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap");

/* Page Specific Styles */
.projects-page {
  overflow: hidden; /* Prevents horizontal scroll */
}

/* Fixed Background Image */
.fixed-background {
  background-image: url("../assets/projects-fixed.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin-bottom: -50vh; /* Adjusts spacing for the following content */
}

/* Content Container */
.content-container {
  position: relative;
  z-index: 1; /* Ensures content is above the background */
  background: transparent;
  padding-top: 50vh; /* Aligns start of content below the fixed background */
}

/* Project Titles and Categories */
.project-title,
.project-category {
  text-align: start;
  text-transform: uppercase; /* Applies only to .project-title */
  font-weight: bold; /* Applies only to .project-title */
  margin-top: 8px; /* Standardized margin for consistency */
}

/* Portfolio Title */
.portfolio-title {
  font-family: "Kaisei Opti", serif;
  letter-spacing: -2.6px;
  text-align: center;
  margin: 100px 40px 10px; /* Adjusts for top margin and horizontal alignment */
  background-color: transparent;
}

/* Title Container */
.title-container {
  background-color: #f5ece2;
  padding: 20px 0;
  text-align: center;
}

/* Projects Container Grid */
.projects-container {
  padding: 30px 40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr); /* Creates a 3-column grid */
  grid-gap: 20px; /* Space between grid items */
  margin: 0 auto; /* Centers the grid */
  background-color: #f5ece2; /* Matches title container background for consistency */
}

/* Project Item Styles */
.project-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  aspect-ratio: 3 / 4; /* Ensures a consistent and more vertical aspect ratio */
}