/* Services.css */

/* Style for h1 elements */
.services-hero-text h1, .interior-design-text h1, .projects-section h1 {
    font-family: "Kaisei Opti", serif;
    letter-spacing: -2.6px;
    margin-bottom: 50px;
    font-size: 3em;
    color: var(--text-color);
  }
  
.services-page {
    background-color: var(--background-color);
  }
  
  .services-hero {
    position: relative;
    height: 100vh;
    background: url("../assets/services-background.jpg") no-repeat center center fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }
  
  .services-hero-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 4em;
  }
  
  .services-image-container {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0;
    margin: 0;
  }
  
  .services-specialty-image {
    width: 100%;
    height: auto;
  }
  
  .services-hero-text {
    flex: 1;
    padding: 0 4em 0 5em;
  }
  
  .services-subcontent {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    padding: 2em 50px;
  }
  
  .services-aligned-image {
    max-width: 300px;
    margin-right: 50px;
  }
  
  .services-aligned-image img {
    width: 100%;
    height: auto;
    display: block;
  }
  
  .services-hero-text h1 {
    font-family: "Kaisei Opti", serif;
    letter-spacing: -2.6px;
    margin-bottom: 50px;
    font-size: 3em;
    color: var(--text-color);
  }
  
  .title-div {
    display: flex;
    align-items: flex-start;
    margin-right: 20px;
  }
  
  .title-div h2 {
    font-size: 1.25em;
    color: var(--text-color);
    margin-right: 30px;
  }
  
  .title-div p {
    font-family: "Lato", sans-serif;
    font-size: 0.9em;
    color: var(--text-color);
    max-width: 600px;
  }
  
  .title-div.specialties,
  .title-div.aim {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
  }
  
  .title-div.aim {
    flex-direction: row;
  }
  
  .services-specialties-list {
    display: flex;
    flex-direction: column;
    margin-right: 30px;
  }

/* bottom half of the 1st section */

.services-content-wrapper {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  padding: 4em 0; 
}

.services-image-half {
  flex: 0 0 50%; 
  max-width: 50%; 
}

.services-horizontal-image {
  width: 100%; 
  height: auto;
}

.services-text-half {
  display: flex;
  flex-direction: row; 
  align-items: flex-start; 
  flex: 1; 
  max-width: 50%; 
  padding-left: 2em; 
}

.services-title {
  flex: 0 0 auto;
  margin-right: 20px; 
}

.services-description {
  flex: 1; 
}

.services-text-half h1 {
  font-family: "Kaisei Opti", serif;
  letter-spacing: -2.6px;
  margin-bottom: 50px;
  font-size: 3em;
  color: var(--text-color);
}

.services-text-half h2 {
  font-size: 1.5em;
  color: var(--text-color);
}

.services-text-half p {
  font-family: "Lato", sans-serif;
  font-size: 0.9em;
  color: var(--text-color);
  max-width: 600px;
}

/* Design phases section */

.interior-design-section {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    background-color: #e0d6cc; /* Same as in the About page */
    padding: 4em;
  }
  
  .interior-design-text {
    flex: 1; /* Take up half the space */
    max-width: 50%;
    padding-right: 2em; 
  }
  
  .interior-design-text h1 {
    font-family: "Kaisei Opti", serif;
    font-size: 3em;
  }
  
  .interior-design-text p {
    font-family: "Lato", sans-serif;
    list-style-type: none;
    padding-bottom: 5px;
  }
  
  .interior-design-phases h2 {
    font-size: 1.25em;
    margin-right: 20px;
  }
  
  .interior-design-phases p {
    list-style-type: none;
    padding-bottom: 5px;
  }
  
  .interior-design-image {
    flex: 1; /* Take up the other half of the space */
    max-width: 50%;
  }
  
  .interior-design-image img {
    width: 100%;
    height: auto;
  }

  .phase-container {
    display: flex;
    align-items: flex-start; 
    margin-bottom: 20px; 
  }
  
  .phase-container h2 {
    margin-right: 20px; /* Adds space between the h2 and the p */
    white-space: nowrap; /* Ensures the title does not wrap */
  }
  
  .phase-container p {
    margin-top: 0; /* Removes the default top margin from p elements for alignment */
  }

  /*! New carousel section */

  .projects-header {
    padding-left: 5em; /* Adjust this value as needed */
  }

  .projects-carousel {
    /* Your existing styles... */
    margin-bottom: 50px; /* Adds 50px margin to the bottom of the carousel */
  }
  
  
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
  
    /* Center slide contents vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    max-height: 336px;
    width: 100%; /* This will make the image stretch to cover the slide's width */
    object-fit: cover; /* This will cover the area, clipping the image if necessary */
  }
  
  

/* Media query adjustments for responsiveness */
@media (max-width: 768px) {
  .services-content-wrapper {
    flex-direction: column;
  }

  .services-image-half,
  .services-text-half {
    max-width: 100%; 
  }

  .services-text-half {
    padding: 1em; 
  }

  .services-hero-content,
  .services-subcontent {
    flex-direction: column;
    align-items: center;
    padding-top: 2em;
  }

  .services-image-container,
  .services-aligned-image {
    max-width: 100%;
    margin: 20px 0;
  }

  .services-specialty-image,
  .services-aligned-image img {
    max-width: 100%;
    height: auto;
  }

  .title-div {
    flex-direction: column;
    align-items: flex-start;
  }

  .title-div h2 {
    margin-bottom: 0.5em;
    margin-right: 0;
  }

  .services-text-half {
    flex-direction: column;
  }

  .services-title,
  .services-description {
    max-width: 100%;
  }
}